@model CreateCommentDto
@{

    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}


<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" asp-controller="Home" asp-action="Index" >Home</a>
                <a class="breadcrumb-item text-dark" asp-controller="ProductList" asp-action="Index" >Products</a>
                <span class="breadcrumb-item active">Product's Detail</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        @* @await Component.InvokeAsync("_ProductDetailImageSlider", new { id = ViewBag.ProductId }) *@

        @await Component.InvokeAsync("_ProductDetailsCard", new {id = ViewBag.ProductId})
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Information</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews </a>
                </div>
                <div class="tab-content">
                    @await Component.InvokeAsync("_ProductDetailInformation", new { id = ViewBag.ProductId })
                   
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row">
                            
                                @await Component.InvokeAsync("_ProductDetailReviews", new { id = ViewBag.ProductId })
                           
                            
                            <div class="col-md-6">
                                <h4 class="mb-4">Leave a review</h4>
                                <small>Your email address will not be published. Required fields are marked *</small>

                                <form id="reviewForm" method="post" asp-action="AddReview">
                                    <input type="hidden" asp-for="ProductId" value="@ViewBag.ProductId"/>
                                    <input type="hidden" asp-for="CreatedAt"  id="CreatedAt" />
                                    <div class="form-group">
                                        <label class="d-block" >Your Rating *</label>
                                        <div class="rating">
                                            @for (int i = 5; i >= 1; i--)
                                            {
                                                <input type="radio" id="star-@i" asp-for="Rating" name="Rating" value="@i" />
                                                <label asp-for="Rating" for="star-@i" title="@i stars">
                                                    <i class="fas fa-star"></i>
                                                </label>
                                            }
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="CommentContent">Your Review *</label>
                                        <textarea asp-for="CommentContent" cols="30" rows="5" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="FullName">Your Name *</label>
                                        <input type="text" class="form-control" asp-for="FullName">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email">Your Email *</label>
                                        <input type="email" class="form-control" asp-for="Email">
                                    </div>
                                    <div class="form-group mb-0">
                                        <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("_FeaturedProductSlider")  