@model CreateServiceCardDto
<section class="content-header">
    <h1>Create Service Card</h1>
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a></li>
        <li><a asp-controller="ServiceCard" asp-action="Index"><i class="fa fa-home"></i>Service Card</a></li>
        <li class="active"><i class="fa fa-bars"></i> New Service Card</li>
    </ol>
</section>



<div class="col-md-12">
    <div class="chart-box">
        <h4>New Card</h4>
        <div class="row">
            <form asp-action="NewServiceCard" method="post">
                <div class="col-md-4">
                    <fieldset class="form-group">
                        <label asp-for="Title">Card Title</label>
                        <input class="form-control" asp-for="Title" type="text">
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <fieldset class="form-group">
                        <label asp-for="Icon">Card Icon</label>
                        <input class="form-control" asp-for="Icon" type="text">
                    </fieldset>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>

