<aside class="main-sidebar dark-bg">
    <br />
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/admintemplate/html/dist/img/img1.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>Florence Douglas</p>
                <a href="#"><i class="fa fa-circle"></i> Online</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menu</li>
            <li>
                <a asp-controller="Dashboard" asp-action="Index"><i class="fa fa-bar-chart"></i><span>Dashboard</span> <span class="pull-right-container"></span> </a>
            </li>
            <li> <a asp-controller="Category" asp-action="Index"><i class="fa-solid fa-tags"></i> <span>Categories</span></a> </li>
            <li> <a asp-controller="Product" asp-action="Index"><i class="fa-solid fa-boxes-stacked"></i> <span>Products</span></a> </li>
            <li> <a asp-controller="Comment" asp-action="Index"><i class="fa-solid fa-boxes-stacked"></i> <span>Comments</span></a> </li>
            <li> <a asp-controller="Contact" asp-action="Index"><i class="fa-solid fa-boxes-stacked"></i> <span>Contact Messages</span></a> </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-desktop"></i> <span>Components</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu">
                    <li><a asp-controller="FeatureSlider" asp-action="Index"><i class="fa fa-angle-right"></i> Feature Slider</a></li>
                    <li><a asp-controller="SpecialOffer" asp-action="Index"><i class="fa fa-angle-right"></i> Special Offer</a></li>
                    <li><a asp-controller="ServiceCard" asp-action="Index"><i class="fa fa-angle-right"></i> Service Cards</a></li>
                    <li><a asp-controller="GeneralOffer" asp-action="Index"><i class="fa fa-angle-right"></i> GeneralOffer</a></li>
                    <li><a asp-controller="BrandVendor" asp-action="Index"><i class="fa fa-angle-right"></i> Brand Vendor</a></li>
                    <li><a asp-controller="AboutUsFooter" asp-action="Index"><i class="fa fa-angle-right"></i> About Us Footer</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-pencil-square-o"></i> <span>Forms</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                <ul class="treeview-menu">
                    <li><a href="forms/general-elements.html"><i class="fa fa-angle-right"></i> General Elements</a></li>
                    <li><a href="forms/layouts.html"><i class="fa fa-angle-right"></i> Form Layouts</a></li>
                    <li><a href="forms/validation.html"><i class="fa fa-angle-right"></i> Form Validation</a></li>
                    <li><a href="forms/wizard.html"><i class="fa fa-angle-right"></i> Form Wizard</a></li>

                </ul>
            </li>
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>