@model List<GetCommentByProductIdDto>

<div class="col-md-6" id="comment-list">
    <h4 class="mb-4">Comments (<span id="comment-count">@Model.Count()</span>)</h4>

            @foreach (var item in Model)
            {
                <div class="media mb-4" >
                    <img src="~/multishop-1.0.0/img/userIcon.png" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                    <div class="media-body">
                        <h6>@item.FullName<small> - <i>@item.CreatedAt</i></small></h6>
                        <div class="text-primary mb-2">
                            @if (item?.Rating != null)
                            {
                                for (int i = 0; i < item.Rating; i++)
                                {
                                    <i class="fas fa-star"></i>
                                }
                            }
                        </div>
                        <p>@item.CommentContent</p>
                    </div>
                </div>
            }
    </div>
 
